<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>
	</head>
	<body>
		<%- include('partials/nav') %>
		<div class="container-fluid">
			<div class="container ">
				<div class="alert alert-light text-center h2 text-dark" role="alert">
					<br />
					Alta de Servicios
				</div>
				<form class="formularios" action="/nuevo-servicio" method="post">
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label for="nombre">Nombre:</label>
								<input type="text" name="nombre" id="nombre" class="nombre" placeholder="Ingrese Nombre del servicio" required />
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="pesos">Pesos:</label>
								<input
									type="number"
									name="pesos"
									id="pesos"
									class="pesos"
									placeholder="Ingrese valor en pesos"
									min="0"
									required
								/>
							</div>
						</div>
						<div class="col-3">
							<div class="form-group">
								<label for="centavos">Centavos:</label>
								<input type="number" name="centavos" id="centavos" class="centavos" value="00" min="0" required />
							</div>
							<div class="form-group">
								<label for="stock">Stock:</label>
								<input type="number" name="stock" id="stock" class="stock text-control" value="0" min="0" required />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label for="centavos">Caracteristica:</label>
								<input
									type="text"
									name="caracteristica1"
									id="caracteristica1"
									class="caracteristica1"
									placeholder="Ingrese caracteristica"
									required
								/>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="centavos">Caracteristica:</label>
								<input
									type="text"
									name="caracteristica2"
									id="caracteristica2"
									class="caracteristica2"
									placeholder="Ingrese caracteristica"
									required
								/>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="centavos">Caracteristica:</label>
								<input
									type="text"
									name="caracteristica3"
									id="caracteristica3"
									class="caracteristica3"
									placeholder="Ingrese caracteristica"
									required
								/>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="centavos">Caracteristica:</label>
								<input
									type="text"
									name="caracteristica4"
									id="caracteristica4"
									class="caracteristica4"
									placeholder="Ingrese caracteristica"
									required
								/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label for="centavos">Caracteristica:</label>
								<input
									type="text"
									name="caracteristica5"
									id="caracteristica5"
									class="caracteristica5 text-control"
									placeholder="Ingrese caracteristica"
									required
								/>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label for="centavos">Descripcion:</label>
								<textarea
									name="descripcionServicio"
									id="descripcionServicio"
									class="descripcionServicio text-control"
									placeholder="Ingrese Descripición del Servicio"
									required
									rows="7"
								></textarea>
							</div>
						</div>
						<div class="col-4"></div>
						<div class="col-4 mb-5">
							<input type="submit" value="crear" class="btn btn-primary" />
						</div>
						<div class="col-4"></div>
					</div>
				</form>
			</div>
		</div>
		<%- include('partials/footer') %>
	</body>

	<%- include('partials/scripts') %>
</html>
