
 <div class="separacionHeaderFooter"></div>

<!-- Footer -->
<footer class="bg-dark miFooter">

        <!-- Copyright -->
        <div class="text-center font-weight-bold py-2">
          &copy; 2019 Copyright: 
          <a class="font-weight-bold" routerLink="/">  AR2 Developers</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->