<meta charset="utf-8" />
<title>Proyecto final Telefónica</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="Team AR Web Developers" />
<meta author="Cristian Ríos" />
<meta keywords="desarolador front end,desarrollo web,front end,developer" />
<link rel="icon" type="image/x-icon" href="/imgFile/img/favicon.ico" />

<!-- Iconos -->
<link rel="stylesheet" type="text/css" href="/imgFile/css/all.css" />

<!-- Bootstrap -->
<link
	rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"
/>

<!-- Estilo Propio -->
<link rel="stylesheet" href="/imgFile/css/estilos.css" />

<!-- dataTable -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" />
